<div class="jumbotron text-center">
    <h1>All Employers</h1>
    <a href="/employers/addEmployer" class="btn btn-lg btn-danger">Add Employer</a>
</div>

<table class="table table-bordered table-hover table-striped">
    <thead>
        <tr>
            <th>Employer</th>
            <th>Contact Number</th>
            <th>Address</th>
        </tr>
    </thead>

    <tbody>
        <% for (var employer of employers) { %>
            <tr>
                <td><a href="/employers/<%= employer.slug %>"><%= employer.name %></a></td>
                <td><%= employer.phone%></td>
                <td><%= employer.address%></td>
                <!--<td>
                    <a href="/employers/<%= employer.slug %>" class="btn btn-sm btn-primary"><%= employer.name %> Jobs</a>
                </td>-->
            </tr>

        <% } %>
    </tbody>
</table>
