<div class="jumbotron text-center">
    <h1>All Jobs</h1>
    <a href="/jobs/addJob" class="btn btn-lg btn-danger">Add Job</a>
</div>

<table class="table table-bordered table-hover table-striped">
    <thead>
        <tr>
            <th>Job</th>
            <th>Employer</th>
            <!--<th>Description</th>-->
            <th>Requirements</th>
        </tr>
    </thead>

    <tbody>
        <% for (var job of jobs) { %>
            <tr>
                <td><a href="/jobs/<%= job['_id']%>"><%= job.name %></a></td>
                <td><a href="/employers/<%= job.employerSlug %>"><%= job.employer%></a></td>
                <!--<td><%= job.description %></td>-->
                <td><% for (var i = 0; i < job.requirements.length; i++){%>
                    <li><%= job.requirements[i] %></li>
                    <% } %>
                </td>
            </tr>

        <% } %>
    </tbody>
</table>
