<div class="jumbotron text-center">
    <h1><%= employer.name %></h1>
    <p><%= employer.phone %> || <%= employer.address %></p>
    <p><%= employer.description %></p>
</div>
<table class="table table-bordered table-hover table-striped">
    <thead>
        <tr>
            <th>Job</th>
            <th>Job Description</th>
            <th>Job Requirements</th>
            <th>Candidates</th>
        </tr>
    </thead>

    <tbody>
        <% for (var job of jobs) { %>
            <tr>
                <td><a href="/jobs/<%= job['_id']%>"><%= job.name %></a></td>
                <td><%= job.description%></td>
                <td><% for (var i = 0; i < job.requirements.length; i++){%>
                <li><%= job.requirements[i] %></li>
                <% } %></td>
                <td><% for (var i = 0; i < job.candidates.length; i++){%>
                    <li><a href="/candidates/<%= job.candidateId[i]%>"><%= job.candidates[i] %></a></li>
                    <% } %>

                    <a href="/jobs/assignCandidate/<%=job['_id']%>" class="btn btn-success" name="assignCandidate">Assign Candidate</button>

                </td>
            </tr>

        <% } %>
    </tbody>
</table>
