<!-- header -->
<header id="site-header">
    <div class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <a href="/" class="navbar-brand">Broadpoint</a>
                <a href="/employers/<%= employer.slug %>" class="navbar-brand"><%= employer.name %></a>
                <a href="/jobs/<%= job['_id']%>" class="navbar-brand"><%= job.name %></a>
            </div>
        </div>
    </div>
</header>


<h1><%= job.name %></h1>
<p><%= employer.name %></p>
<table class="table table-bordered table-hover table-striped">
    <thead>
        <tr>
            <th>Job</th>
            <th>Job Description</th>
            <th>Job Requirements</th>
            <th>Candidates</th>
        </tr>
    </thead>

    <tbody>
            <tr>
                <td><a href="/jobs/<%= job['_id']%>"><%= job.name %></a></td>
                <td><%= job.description%></td>
                <td><% for (var i = 0; i < job.requirements.length; i++){%>
                <li><%= job.requirements[i] %></li>
                <% } %></td>
                <td><% for (var i = 0; i < job.candidates.length; i++){%>
                    <li><a href="/candidates/<%= job.candidateId[i]%>"><%= job.candidates[i] %></a></li>
                    <% } %>
                    <a href="/jobs/assignCandidate/<%=job['_id']%>" class="btn btn-success" name="assignCandidate">Assign Candidate</button>

                </td>
            </tr>
    </tbody>
</table>
