<div class="jumbotron text-center">
    <h1><%= employer.name %></h1>
    <p><%= employer.phone %> || <%= employer.address %></p>

    <table class="table table-bordered table-hover table-striped">
        <thead>
            <tr>
                <th>Job</th>
                <th>Job Description</th>
                <th>Job Requirements</th>
                <th>Cantidates</th>
            </tr>
        </thead>

        <tbody>
            <% for (var job of jobs) { %>
                <tr>
                    <td><a href="/jobs/<%= job['_id']%>"><%= job.name %></a></td>
                    <td><%= job.description%></td>
                    <td><% for (var i = 0; i < job.requirements.length; i++){%>
                    <li><%= job.requirements[i] %></li>
                    <% } %>
                    <td><% for (var i = 0; i < job.cantidates.length; i++){%>
                        <li><a href="/cantidates/<%= job.cantidates[i]%>"><%= job.cantidates[i] %></a></li>
                        <% } %>
                    </td>
                </tr>

            <% } %>
        </tbody>
    </table>
</div>
